@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');



:root {
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: justify;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;

  --color-background: #ffffff;
  --color-text: #0b303a;

  --color-h1: #fff;
  --color-h2: #0d5e74;
  --color-h3: #199396;
  --color-border: #0d5e74;

  --color-text-hover: #199396;

  /*footer*/
  --color-background-footer: #0b303a;
  --color-text-footer: #ffffff;
}


/*----- Componentes*/

/*--- Enlace GitHub GitCode.jsx*/
.proyecto-codigo {
  width: 6rem;
  background-color: var(--color-background);
  border: 2px solid var(--color-border);
  border-radius: 1rem;
  padding: 0.1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.proyecto-codigo:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.proyecto-codigo a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s ease;
}

.proyecto-codigo a:hover {
  color: var(--color-text-hover);
}



/* ------- Generales */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

h2{
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--color-h2);
}
h3 {
  font-size: 1.3rem;
  color: var(--color-h3);
}
section {
  padding-top:60px;
}

article + article::before {
  content: "";
  display: block;
  border-top: 1px solid var(--color-border);
  margin: 1.5rem 0;
}
/* ------- Navbar desktop*/
header{
  position:sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  background: var(--color-background);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  position: fixed;
  gap: 1rem;
  flex-direction: column;
  top: 54px;
  left: 0;
  height: 100vh;
  width:70%;
  background: var(--color-background);
  padding: 1rem;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
 .nav-links.open {
    display: flex;
    transform: translateX(0);
  }

.navBar-ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  gap: 1rem;
}
.navBar-a{
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}
.navBar-a:hover {
  color: var(--color-text-hover);
}
/* -------  Inicio */
#inicio{
  width: 100%;
  height: auto;
  padding: 2rem;
  background-image: url("/src/media/pictures/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  display:flex;
  flex-direction: column;
  
  /* align-items:flex-end;*/
  
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-h1);
  font-weight: bold;
  text-align: end;
}

#inicio span{
  font-size: 1.7rem;
  color: var(--color-h1);
  font-weight: bold;
  text-align: end;
}

.social-media-ul {
  display: flex;
  gap: 0.6rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: end;
  scale: 0.9;
}

/*-----Experiencia */
#experiencia  {
  font-family: Arial, sans-serif;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items:center;
}


.timeline {
  position: relative;
  width: 80%;
  margin-left: 20px;
  padding-left: 30px;
  border-left: 2px solid var(--color-border);
  margin-top: 2rem;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.timeline-item::before {
  content: "💼";
  position: absolute;
  left: -49px;
  top: 0;
  background-color: var(--color-background);
  border: 3px solid var(--color-border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.position {
  font-weight: bold;
  color: var(--color-h3);
  font-size: 1.1rem;
}

.date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.timeline-item p {
  margin-bottom: 10px;
}

.timeline-item ul {
  padding-left: 1.2rem;
  list-style-type: disc;
}


/*-------- Proyectos */
#proyectos , #sobre-mi{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2rem; */
}

.proyecto-item{
  width: 80%;
  display: flex;
  flex-direction: column;
}
.proyecto-item  div  img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.proyecto-detalles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 0 1rem 0;
}
.proyecto-tecnologias {
  display: flex;
  gap: 1rem;
  background-color: var(--color-background);
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.proyecto-tecnologias > div {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.proyecto-tecnologias > div:hover {
  transform: scale(1.1);
  background-color: var(--color-background);
}

.proyecto-tecnologias svg {
  width: 2rem;
  height: 2rem;
  transition: filter 0.3s ease;
}

.proyecto-tecnologias > div:hover svg {
  filter: brightness(1.2);
}

.proyecto-detalles2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
/*Sobre mi*/
.sobre-mi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.sobre-mi-texto{
  width: 80%;
  margin-bottom: 2rem;
}
.sobre-mi-imagen {
  width: 80%;
  
}
.sobre-mi-imagen img {
  width: 100%;
  background-size: cover ;
  background-attachment: fixed;

}

 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

/*------- Footer */
footer {
  background-color: var(--color-background-footer);
  color: var(--color-text-footer);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 3.5rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-text);
    background-color: var(--color-background);
  }
  a:hover {
    color: var(--color-text-hover);
  }
  button {
    background-color: #f9f9f9;
  }
} */
@media (min-width: 768px){
  .sobre-mi-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 80%;
  }
  .sobre-mi-texto {
    width: 62%;
    
  }
  .sobre-mi-texto p {
  padding-bottom: 0.5rem;
 }
  .sobre-mi-imagen {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
  .hamburger {
    display: none;
  }
  
  .nav-links{
    position: static;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2rem;
    transform: translateX(0);
    height: 2rem;
    width: 100%;
  }
  .navBar-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .social-media-ul {
  gap: 1rem;
  scale: 1;
}

  /*----- Proyectos*/


  #proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.proyecto-item{
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.proyecto-imagen {
  width: 45%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  
}


.proyecto-detalles {
  width: 45%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: start;
  padding-left: 2rem;

}
.proyecto-tecnologias {
  display: flex;
  gap: 1rem;
  background-color: var(--color-background);
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.proyecto-tecnologias > div {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.proyecto-tecnologias > div:hover {
  transform: scale(1.1);
  background-color: var(--color-background);
}

.proyecto-tecnologias svg {
  width: 2rem;
  height: 2rem;
  transition: filter 0.3s ease;
}

.proyecto-tecnologias > div:hover svg {
  filter: brightness(1.2);
}

.proyecto-detalles2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

 .sobre-mi-container {
  margin-top: 2rem;
  width: 80%;
 }
 .sobre-mi-texto {
  width: 50%;
 }
 

  .sobre-mi-imagen {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}

@media (min-width:1440px){
  :root{
    font-size: 20px;
  }

  .timeline {
    width: 60%;
    margin: auto;
  }

  .proyecto-item{
    width: 60%;
   
  }

  .sobre-mi-container {
    width: 60%;
  }
  


  
}
